project/intro/intro.vcproj.admin-PC.admin.user
project/nlSandbox/GeneratedFiles/*
project/nlSandbox/Release/*
project/nlSandbox/Debug/*
project/intro/Demo/*
project/nl_stduio64.ncb
project/nl_stduio64.suo
bin/nlSandbox.exe
bin/nlSandbox_d.exe
